App/
vs_int_dir/
MarkerTracking/apriltag-2015-03-18/lib
MarkerTracking/apriltag-2015-03-18/tmp
MarkerTracking/opencv_aruco_test/x64
MarkerTracking/opencv_aruco_test/opencv_aruco_test/x64
MarkerTracking/aruco_plugin_test/aruco_plugin_test.sln

Temp/
Library/
.vs/
*.VC.db